.run_button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 150%;
}

.loading_container {
  width: 640px;
  height: 480px;
  padding: 1rem;
  background: #ddd;
  color: #444;
  font-weight: bold;
}

.loading {
  width: 1rem;
  height: 1rem;
  background: #444;
  border-radius: 0.15rem;
  animation: loading 2s infinite;
  display: inline-block;
}
@keyframes loading {
  0% { transform: rotate(  0deg); }
  100% { transform: rotate(360deg); }
}
